h1 {
  color:black;  
}
.navbar-nav {
  margin-left:auto;
  margin-top:auto; 
}
.navbar {
  height: 60px;
  width:auto;
  margin:auto;
}
#navbarNav {
  width:100%;
}
.imgLg {
  
  position:relative;
}
#theH1 {
  position:absolute;
  color:white;
  top:150px;
  right:50px;
  font-weight:200;
}
.card {
  margin: 0 auto; /* Added */
}

@media screen and (max-width:800px) {
  .imgLg {
    max-width:100%;
    height:auto;
  }
}
@media screen and (min-width:1024px) {
  .imgLg {
    width:auto;
    height:auto;
  }  
}
.jumbotron {
  border-radius:none;
}
.card-img-top {
  max-height:80vh;
}
* {
  max-width:100vw;
}
