.title {
    font-weight: 800;
    text-shadow:1px 1px black;
    font-size:1.2em;
}
.firstImage {
    position:relative;
    height:91vh;
}
.covid {
    position:absolute;
    left:8vw;
    top:66vh;
    text-shadow:1px 1px black;
}
.firstText {
    position:absolute;
    left:8vw;
    top:76vh;
    text-shadow:1px 1px black;
}
.navbar {
    background-color:rgb(40, 176, 218);
}
:root {
    background-color:rgb(40, 176, 218); 
}
.advisers {
    background-color:rgb(40, 176, 218);
}
body {
    background-color:rgb(40, 176, 218);
}
.myBtn {
    position:absolute;
    left:8vw;
    top:88vh;
    background-color: rgb(146, 140, 140);
    color:rgb(184, 179, 179);
}
@media (max-width:568px) {
   
    .firstText, .covid, .myBtn {
        font-size:70%; 
        size:50%;
        position:absolute;
                
    }
    .firstText {
        top:61vh;
    }
    .covid {
        top:58vh;
    }
    .myBtn {
        top:66vh;
    }
    .firstImage {
        zoom:80%;
    }
}
.jumbotron h2 {
    color:rgb(8, 28, 94);
}
p {
    margin: auto 80px;
}
.randomMan {
    max-width:50%;
}
@media (min-width:768px) {
    .card {
        height:60vh;
        }
}
@media (min-width:568px) and (max-width:768px)  {
    .firstImage {
        zoom:80%;
    }
    .covid {
        top:55vh;
    }
    .firstText {
        top:60vh;
    }
    .myBtn {
        top:65vh;
    }
    .covid, .firstText, .myBtn {
        font-size:80%;
    }
}  
